<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="polynesianicon.png" />
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Sans+MS&family=Georgia:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <br />

    <div>
        @RenderBody()
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="JavaScript.js"></script>
    </div>
</body>
</html>
